.rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  height: 75px;
  color: black;
}

.headermatch {
  background: #3E3E3E;
  color: white;
  text-align: center;
  align-content: center;
}
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

 